
<!--The content below is only a placeholder and can be replaced.-->
<div class="body" backImage="{{ bgImage }}">
    <div *ngIf="!IsLogin">
      <p style="position: absolute;top:30%;left:25%; width: 200px; height: 200px; margin-left: -65px; margin-top: -50px">
        <img src="{{barcodeImageUrl}}" width="{{width}}" height=" {{height}}" alt='QrBarcode' class='barcode' (load)="DeleteImage()">
      </p>
    </div>
    <div *ngIf="IsLogin">
        <table class="box">
          <tr *ngFor="let card of cardList | pairs">
            <td>
                <img src="{{cardBgImage}}" alt='cardBack' class='cardBack'>
            </td>
            <td>
                <img src="{{cardBgImage}}" alt='cardBack' class='cardBack'>
            </td>
            <td>
                <img src="{{cardBgImage}}" alt='cardBack' class='cardBack'>
            </td>
          </tr>
        </table>
    </div>
  </div>