
.box {
    position: absolute;
    top: 2%;
    left: 24%;
    height: 95%;
    /*width: 55%;*/  /* 4K Monitor - Phone(Not Full Screen)  Safari */ 
    width: 60%; /* Screen - Phone (Not Full Screen) Safari */
}
.win {
    width:1200px;
    height:850;
    position:fixed;
    margin-left:-600px; /* half of width */
    margin-top:-425px;  /* half of height */
    top:50%;
    left:50%;
}

button {
    position: absolute;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 254px;
    height: 204px;
    border-radius: 30%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    outline:none;
    /* border: none; For Google */
    border: none; /* For Safari*/  /*For Play Music On Safari => Safari / Settings / Setting For This Website / Allow All Auto Play*/
    background-color:white; /* Set Default Color For Safari. Don't need at Chrome*/ 
}

button:hover {
    background-color: rgb(135, 210, 245);
    color: white;
}

/* button:active{
    background:olive;
}

button:focus {
    background-color: rgb(135, 210, 245);
    color: white;
} */

.buttonmenu {
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 254px;
    height: 204px;
    border-radius: 30%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    outline:none;
    /* border: none; For Google */
    border: none; /* For Safari*/  /*For Play Music On Safari => Safari / Settings / Setting For This Website / Allow All Auto Play*/
    background-color:white; /* Set Default Color For Safari. Don't need at Chrome*/ 
}

.buttonmenu:hover {
    background-color: rgb(135, 210, 245);
    color: white;
}

#moana{
    position: relative;
    margin-left: 13%;
    margin-top: 13%;
    width: 15%;
    height: 15%;
}


#frozen{
    position: relative;
    margin-top: 26%;
    width: 15%;
    height: 15%;
    margin-left: -15%;
}

.barcode{
    width:22%;
    height: 22%;
    margin-top: 15%;
    margin-left: 2%;
}

.cardback{
    height: 100%;
    width: 100%;
}

#txt_area{ 
    background-image:url(/assets/images/cloud3.png);
    background-color:transparent; 
    background-repeat:no-repeat;
    color:white; 
    width:200px;
    padding-left:20px; 
    padding-right:10px; 
    border:0px; 
    padding-top:7px; 
    padding-bottom:10px; 
    font-size:90px; 
    font: bold;
    text-align: center;
    overflow:hidden;
    resize: none;
}